
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p{
    color:wheat;
    text-align: center;
    background-color: brown;
}

#header{
    background-color: aquamarine;
    color: antiquewhite;
    font-size: 20px;
}